/* стили для стартового блока */

#start-block {
	background-image: url('../images/title-win-500x400.png');
	border: 0;
	padding: 0;
    position: absolute;
	top: 50%;
 	left: 50%;
	margin-left: 0;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 400px;
}

#lamp-block-container {
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 500px;
	height: 200px;
	overflow: hidden;
}

#lamp-block {
	background-image: url('../images/logo-bulb-100х134.png');
	border: 0;
	padding: 0;
	margin: 0;
    position: absolute;
	top: 200px;
    left: 200px;
	width: 100px;
	height: 134px;
	display: block;
}

#text-block-container {
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 500px;
	height: 280px;
	overflow: hidden;
}

#text-block {
	background-image: url('../images/logo-text-200x65.png');
	border: 0;
	padding: 0;
	margin: 0;
    position: absolute;
	top: 300px;
    left: 150px;
	width: 200px;
	height: 65px;
	display: block;
}

#start-block h2 {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 315px;
	width: 500px;
	text-align: center;
	display: block;
	line-height: 20px;
	font-family: Verdana, Geneva, sans-serif;
	color: #005a98;
	font-weight: normal;
}

#start-button {
	position: absolute;
    top: 335px;
    left: 27px;
    display: block;
    border: 4px solid #b4bcc1;
    font-size: 15px;
    padding: 7px 40px;
    border-radius: 15px;
    background-color: #c87128;
}

#button-klava {
	position: absolute;
    top: 335px;
    left: 273px;
    display: block;
    border: 4px solid #b4bcc1;
    font-size: 15px;
    padding: 7px 35px;
    border-radius: 15px;
    background-color: #c87128;
}

#game-name-block {
	background-image: url('../images/name-372х79.png');
	top: 80px;
	border: 0;
	padding: 0;
	position: absolute;
	width: 372px;
	height: 79px;
	display: block;
	left: 50%;
	margin-left: 0;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}